body{
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.image-div{
    margin: 50px 32px 30px 32px;
    text-align: center;
}

.text-container h2{
    text-align: center;
    font-size: 25px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin-left: 330px;
}

a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 16px;
    font-size: 20px;
    padding: 7px;
    width: 150px;
    height: 45px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #5F59E1;
    color:#fff;
}

#login{
    color: #6F6F94; 
    background-color: #EDEDF3;
}