@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

:root {
  --theme-color: #7258bb;
  --theme-color-light: #7258bb0f;
  --theme-color-dark: #5f07a4;
}

body {
  background: var(--theme-color-light);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

li,
a {
  text-decoration: none;
}

button {
  border: 0;
  background: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

.main-header {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  height: 80px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main-header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #fff;
  position: relative;
  overflow-y: hidden;
}

.main-nav {
  width: 100%;
  position: relative;
  height: 90%;
}

.logo {
  width: 80px;
}

.main-header .nav-links.responsive {
  display: none;
  position: absolute;
  background: var(--theme-color);
  width: 100%;
  max-width: 300px;
  top: 60px;
  border-radius: 5px;
  right: -150%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.main-header .nav-links.responsive ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0px;
}

.main-header .nav-links.responsive ul li {
  border-bottom: 1px solid #fff;
  width: 100%;
}

.main-header .nav-links.responsive ul li a {
  color: white;
}

.main-header .nav-links.responsive ul li:last-child {
  border-bottom: 0;
}

.main-header .nav-links ul li {
  padding: 0.5rem 1rem;
  font-size: 14px;
}

.hamburger__label {
  display: none;
}

.hamburger__checkbox {
  display: none;
}

.hamburger__label img {
  width: 20px;
}

.hamburger__box {
  cursor: pointer;
}

.hamburger__checkbox:checked + .nav-links.responsive {
  right: 0;
}


/* SECTION STYLES */
.second-section{
  height: 100vh;
  width: 100vw;
  background-color: #070d18;
  position: relative;
 
}

.left-card{
  height: 200px;
  width: 200px;
  border-radius: 20px;
  position: absolute;
  top: 200px;
  left: 80px;
  overflow-y: hidden;
}

.right-card{
  height: 200px;
  width: 200px;
  border-radius: 20px;
  position: absolute;
  bottom: 100px;
  right: 100px;
  overflow-y: hidden;
}

.center-card{
  background-color: #070d18;
  border-radius: 10px;
  height: 420px;
  width: 500px;
  position: absolute;
  top: 70px;
  left: 400px;
  overflow-y: hidden;
}

.bulb{
  position: absolute;
  top: 70px;
  right: 70px;
  height: 150px;
  width: 150px;
}

.bell{
  position: absolute;
  bottom: 70px;
  left: 120px;
  height: 90px;
  width: 90px;
}

/* FOOTER STYLES */
.main-footer {
  background-color: var(--theme-color);
  padding: 30px 0;
  /* margin-top: 50px; */
}

.footer-sec {
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-sec .logo {
  margin-right: 100px;
  margin-bottom: 20px;
}

.footer-links__sec {
  flex-wrap: wrap;
}

.footer-links__sec ul {
  margin-right: 50px;
  margin-bottom: 20px;
}

.footer-links__sec ul li a,
.footer-links__sec h3, .social-media-content h3 {
  color: white;
}

.footer-links__sec ul li a {
  font-size: 12px;
}

.footer-links__sec ul img {
  height: 50px;
  object-fit: contain;
  object-position: right;
}

.footer-links__sec .img-sec {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 50px;
}

.social-media{
margin-left: 570px;
}

.fa{
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.copyright{
  width: 100%;
  text-align: center;
}

.social-media{
  margin-left: 430px;
}

.app-links-container{
  margin-left:50px;
}

.app-links-container img{
  margin-left: -50px;
}


.fa{
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.copyright{
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer-links__sec ul {
    margin-right: 20px;
  }

  .hamburger__label {
    display: block;
  }

  .main-header .nav-links.responsive {
    display: block;
  }

  .main-header .nav-links {
    display: none;
  }
}
